# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/

# Ignore model files
*.pt

# Ignore all MP4 files
*.mp4

# Ignore specific directories containing MP4 files
ufc_fights/
clips/
clips copy/
organized_clips/

# Optionally ignore generated datasets
extracted_dataset/